.typography-aaw-page-headliine-super {
    font-size: 56px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.015em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.typography-aaw-page-headliine-superrr {
    font-size: 36px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.015em;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.typography-aaw-page-headliine-reduced {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

/* images */
div.scroll-container {
    margin: 40px;
    background-color: #f1f1f1;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;

}

div.scroll-container img {
    padding: 10px;
}

/* services section */
#services {
    margin: 25px;
    display: flex;
    /* flex-wrap: wrap; */
    /* overflow-x: scroll; */
}

#services .box {
    border: 2px solid rgb(255, 249, 249);
    /* width: 350px; */
    padding: 35px;
    margin: 6px 6px;
    border-radius: 45px;
    background-color: rgb(18, 14, 17);
}

#services2 .box {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(15, 13, 13);
}

#services3 .box {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(15, 13, 13);
}

#services4 .box {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(15, 13, 13);
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    font-size: 0.8rem;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #19181b;
}

/* Basic button styling */
.btn {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    color: rgb(28, 19, 19);
    background-color: #0d1013;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* transition: background-color 0.3s, color 0.3s;  */
}

/* Hover effect */
.btn:hover {
    background-color: rgb(31, 21, 21);
    color: #ffffff;
}

/* copilot */
#service .box {
    border: 2px solid rgb(22, 20, 20);
    /* width: 350px; */
    padding: 35px;
    margin: 6x 6px;
    border-radius: 45px;
    background-color: rgb(255, 252, 254);
}

/* btn1 */
.btn1 {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    color: rgb(28, 19, 19);
    background-color: #0d1013;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* transition: background-color 0.3s, color 0.3s;  */
}

/* Hover effect */
.btn1:hover {
    background-color: rgb(31, 21, 21);
    color: #ffffff;
}

/* button for microsoft */
.button {
    padding: 10px;
    font-size: 16px;
    color: rgb(243, 243, 243);
    background-color: #0067e5;
    border: none;
    border-radius: 10px;
    margin: auto;
}

.button2 {
    padding: 10px;
    font-size: 16px;
    color: rgb(5, 2, 2);
    background-color: #f9fbfd;
    /* border: none; */
    border-radius: 10px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* feedback form */
/* body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background-color: #bde5d2;
    font-family: 'Poppins', sans-serif;

} */

body{
    background-image: url(https://img.freepik.com/premium-photo/color-background-presentations-decorative-design-template-cover-insert-text-with-copy-space_7954-4083.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1720569600&semt=ais_hybrid);
}

.textup {
    text-align: center;
    color: rgb(19, 48, 19);
    font-weight: 700;
}

i {
    margin-right: 3px;
}

.form-box {
    background-color: #ffe3e3;
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 500px;
    display: block;
    margin: auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.radio-group {
    display: flex;
    margin-bottom: 16px;
}

input[type="radio"] {
    margin-right: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    color: rgb(12, 24, 9);
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 10px;

}

button {
    /* background-color: #368b44; */
    color: #0c0a0a;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    /* transition: .2s linear; */
}

button:hover {
    background-color: #dcddd2;
    border: none;
    /* transform: translateY(-10px); */
}

h1 {
    color: rgb(33, 33, 33);
}